<%- include ("../../partials/header") %>

    <%- include ("../../partials/navbar") %>
    <!-- Criando o formulário de categorias -->
    <div class="container">
        <br>
        <div class="card">
    
            <div class="card-header">
                <h2>Edição</h2>
            </div>
            <div class="card-body">
                    <!--Vou ter os dados necessario para criar uma categoria-->
                <form action="/categories/update" method="POST">
                    <!--- Passando o valor da categoria para o input-->
                    <input class="form-control" type="text" name="title" value="<%= category.title %> " placeholder="Defina o título da categoria"> <br>
                    <input class="form-control" type="hidden" name="id" value="<%= category.id %> ">
                    <button  type="submit" class="btn btn-success">Atualizar</button>
                </form>
            </div>
        </div>
    </div>
<%- include ("../../partials/footer") %>